{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block scripts %}
{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}
<section class="content_homepage">

    <div id="layout_title">
        <h1 class="text_default title">Flash decision v.0.2</h1>
    </div>

    <div id="layout_separator_01">
        <div class="separator"></div>
    </div>

    <div id="layout_subtitle">
        <p class="text_default subtitle">Login page</p>
    </div>

    <div id="layout_separator_02">
        <div class="separator"></div>
    </div>

    <div id="layout_forms">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span><br>
                {% endfor %}
                {{ form.username(size=32) }}
            </p>
            <p>
                {{ form.password.label }}<br>
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span><br>
                {% endfor %}
                {{ form.password(size=32) }}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>

</section>
{% endblock %}