# Service
__pycache__/
.mypy_cache/
.ruff_cache/
.vscode/
.idea/
workspace.code-workspace/
*.pyc
*.log*

# Backend
.venv/

# Frontend: Main
/frontend/.DS_Store/
/frontend/node_modules/
/frontend/dist/

# Frontend: local env files
/frontend/.env.local
/frontend/.env.*.local

# Frontend: Editor directories and files
/frontend/*.suo
/frontend/*.ntvs*
/frontend/*.njsproj
/frontend/*.sln
/frontend/*.sw?

# Tests
.pytest_cache/
