# Service
.vscode/
.idea/
workspace.code-workspace/

# Env files
.env.secrets

# Backend
*.pyc
__pycache__/
.mypy_cache/
.ruff_cache/
.venv/

# Frontend
*.lockb
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tests
.pytest_cache/

# Logs
*.log*
logs
