# Main
/.vscode/
/.idea/
workspace.code-workspace
flash_backend.log

# Backend: Main
/flash_backend/.idea
/flash_backend/.venv/
/flash_backend/app/__pycache__/
/flash_backend/app/libs/__pycache__/
/flash_backend/migrations/__pycache__/
/flash_backend/migrations/versions/__pycache__/
/flash_backend/downloads/

# Frontend: Main
/flash_frontend/.DS_Store
/flash_frontend/node_modules
/flash_frontend/dist

# Frontend: local env files
/flash_frontend/.env.local
/flash_frontend/.env.*.local

# Frontend: Log files
/flash_frontend/npm-debug.log*
/flash_frontend/yarn-debug.log*
/flash_frontend/yarn-error.log*
/flash_frontend/pnpm-debug.log*

# Frontend: Editor directories and files
/flash_frontend/.idea
/flash_frontend/.vscode
/flash_frontend/*.suo
/flash_frontend/*.ntvs*
/flash_frontend/*.njsproj
/flash_frontend/*.sln
/flash_frontend/*.sw?
.gitignore

# Tests
/tests/__pycache__
/tests/.pytest_cache