/* ============================== */
/* == General */
/* ============================== */


.text_default {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #464646;
}

.menu {
    font-family: Roboto;
    color: #ffffff;
    margin: 0px 20px;
}

label {
    font-weight: normal;
}

a:hover {
  color: deepskyblue;
}

/* ============================== */
/* == Unique */
/* ============================== */

/* Header */


.header {
    display: flex;
    height: 40px;
    padding: 8px;

    background: #464646;
}

.header_container_left {
    flex: 50%;
    text-align: left;
}

.header_container_right {
    flex: 50%;
    text-align: right;
}


.alerts{
    position: absolute;
    top: 40px;
    width: 100%;
    margin: auto;
    padding: 8px 0px 0px 0px;
    background: #FDECCA;
}

/* Index page */


.content_homepage {
    position: relative;
    width: 420px;
    height: 100%;
    top: 40px;
    left: 0px;
    margin: auto;
}

#layout_title {
    position: relative;
    width: 100%;
    height: 110px;
    line-height: 110px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    text-align: center;
    font-size: 48px;
}

#layout_separator_01 {
    position: relative;
    width: 100%;
}

.separator {
    border-bottom: 1px solid #464646;
}

#layout_subtitle {
    position: relative;
    width: 100%;
    line-height: 50px;
}

.subtitle {
    text-align: center;
    font-size: 18px;
    color: #464646;
    margin: auto;
}

#layout_separator_02 {
    position: relative;
    width: 100%;
}

#layout_forms {
    position: relative;
    width: 100%;
    top: 20px;
}

#layout_forms_left {
    position: absolute;
    width: 25%;
    height: 30px;
    left: 10%;

    text-align: right;
    line-height: 34px;
}

.text_default.layout_forms_left_text {
    margin: 20px 10px;
}

#layout_forms_right {
    position: absolute;
    width: 50%;
    left: 35%;
}

.layout_forms_right_input {
    position: relative;
    margin: 20px 0px;
}

#layout_button_start {
    direction: rtl;
}

/* Terminal page */

.content_terminal {
    position: relative;
    width: 1200px;
    height: 100%;
    top: 40px;
    left: 0px;
    margin: auto;
}

.chart {
    position: relative;
    top: 40px;
}

/* Results page */

.content_results {
    position: relative;
    width: 1200px;
    height: 100%;
    top: 40px;
    left: 0px;
    margin: auto;
}

#output {
    position: relative;
    top: 40px;
}