{% extends "layout.html" %}

<!--Head-->

{% block title %}Home page{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

<!--Body-->

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}

<section class="content_homepage">

    <div id="layout_title">
        <h1 class="text_default title">Flash decision v.0.1</h1>
    </div>

    <div id="layout_separator_01">
        <div class="separator"></div>
    </div>

    <div id="layout_subtitle">
        <p class="text_default subtitle">Set parameters of the session and press start</p>
    </div>

    <div id="layout_separator_02">
        <div class="separator"></div>
    </div>

    <div id="layout_forms">

        <div id="layout_forms_left">
            <p class="text_default layout_forms_left_text">User</p>
            <p class="text_default layout_forms_left_text">Market</p>
            <p class="text_default layout_forms_left_text">Ticker</p>
            <p class="text_default layout_forms_left_text">Timeframe</p>
            <p class="text_default layout_forms_left_text">Bars number</p>
            <p class="text_default layout_forms_left_text">Time limit</p>
            <p class="text_default layout_forms_left_text">Date & time</p>
            <p class="text_default layout_forms_left_text">Iterations</p>
            <p class="text_default layout_forms_left_text">Slippage</p>
            <p class="text_default layout_forms_left_text">Fixing bar</p>
        </div>


        <div id="layout_forms_right">

            <form action="{{ url_for('web_index_post') }}" method="POST">

                <div class="layout_forms_right_input">
                    <input type="text" class="form-control" name="form_username" value="{{ current_user.user_name }}" readonly>
                </div>

                <div class="layout_forms_right_input">
                    <select class="form-control" name="form_market">
                        {% for market in markets %}
                            {% if market == 'Market.SHARES' %}
                            <option value="{{ market }}" selected="selected">{{ market }}</option>
                            {% else %}
                            <option value="{{ market }}">{{ market }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="layout_forms_right_input">
                    <select class="form-control" name="form_ticker"></select>
                </div>

                <div class="layout_forms_right_input">
                    <select class="form-control" name="form_timeframe">
                        {% for timeframe in timeframes %}
                            {% if timeframe == 'Timeframe.MINUTES1' %}
                            <option value="{{ timeframe }}" selected="selected">{{ timeframe }}</option>
                            {% elif timeframe == 'Timeframe.WEEKLY' %}
                            {% elif timeframe == 'Timeframe.MONTHLY' %}
                            {% else %}
                            <option value="{{ timeframe }}">{{ timeframe }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="layout_forms_right_input">
                    <select class="form-control" name="form_bars_number">
                        <option value="10">10 bars</option>
                        <option value="20">20 bars</option>
                        <option value="50" selected="selected">50 bars</option>
                        <option value="100">100 bars</option>
                    </select>
                </div>

                <div class="layout_forms_right_input">
                    <select class="form-control" name="form_timer">
                        <option value="2">2 sec</option>
                        <option value="5" selected="selected">5 sec</option>
                        <option value="10">10 sec</option>
                        <option value="60">60 sec</option>
                    </select>
                </div>

                <div class="layout_forms_right_input input-group date" id="datetimepicker">
                    <input type="text" class="form-control" name="form_datetime_finish"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>

                <div class="layout_forms_right_input">
                    <select class="form-control" name="form_iterations">
                        <option value="1">1 iteration</option>
                        <option value="5">5 iterations</option>
                        <option value="10" selected="selected">10 iterations</option>
                        <option value="20">20 iterations</option>
                    </select>
                </div>

                <div class="layout_forms_right_input">
                    <select class="form-control" name="form_slippage">
                        <option value="0">No slippage</option>
                        <option value="0.001" selected="selected">0.1%</option>
                        <option value="0.002">0.2%</option>
                        <option value="0.05">0.5%</option>
                    </select>
                </div>

                <div class="layout_forms_right_input">
                    <select class="form-control" name="form_fixing_bar">
                        <option value="10">10</option>
                        <option value="15" selected="selected">15</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                    </select>
                </div>

                <div class="layout_forms_right_input" id="layout_button_start">
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-default">Start</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

</section>


<script type="text/javascript">
    let tickers = {{ securities_json | safe }};
</script>

<script type="text/javascript">
    let select_market = document.getElementsByName('form_market')[0];
    let select_ticker = document.getElementsByName('form_ticker')[0];

    function fill_tickers() {
        market = select_market.value;
        let optionHTML = '';
        for (let ticker of tickers[market]) {
            optionHTML += '<option value="' + ticker['code'] + '">' + ticker['name'] + '</option>';
        }
        select_ticker.innerHTML = optionHTML;
    }

    select_market.onchange = function () {
        fill_tickers();
    };

    fill_tickers();
    select_ticker.value = 'SBER';
</script>


{% endblock %}