<!DOCTYPE html>
<html lang="ru">

<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>Flash decision – {% block title %}{% endblock %}</title>
        <!--Load remote css and js-->
        <!--General-->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <!--Forms-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://raw.githubusercontent.com/Eonasdan/bootstrap-datetimepicker/master/build/css/bootstrap-datetimepicker.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
        <!--Charts-->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
        <!-- Pivot table-->
        <link href="{{ url_for('static', filename='css/pivot.css') }}" rel="stylesheet" type="text/css">-->
        <script src="{{ url_for('static', filename='js/pivot.min.js') }}" type="text/javascript"></script>-->
        <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}" type="text/javascript"></script>-->
        <script src="{{ url_for('static', filename='js/plotly_renderers.js') }}" type="text/javascript"></script>-->



<!--        &lt;!&ndash;<script src="https://cdn.plot.ly/plotly-basic-latest.min.js" type="text/javascript"></script>&ndash;&gt;-->
<!--        <link href="{{ url_for('static', filename='css/pivot.css') }}" rel="stylesheet" type="text/css">-->
<!--        <link href="{{ url_for('static', filename='css/htmldiff.css') }}" rel="stylesheet" type="text/css">-->
<!--        <script src="{{ url_for('static', filename='js/pivot.min.js') }}" type="text/javascript"></script>-->
<!--        <script src="{{ url_for('static', filename='js/plotly_renderers.js') }}" type="text/javascript"></script>-->
<!--        <script src="{{ url_for('static', filename='js/c3_renderers.js') }}" type="text/javascript"></script>-->
<!--        <script src="{{ url_for('static', filename='js/d3_renderers.js') }}" type="text/javascript"></script>-->
<!--        <script src="{{ url_for('static', filename='js/gchart_renderers.js') }}" type="text/javascript"></script>-->

<!--        &lt;!&ndash;<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>&ndash;&gt;-->
<!--        <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" rel="stylesheet" type="text/css">-->
<!--        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js" type="text/javascript" charset="utf8"></script>-->
<!--        <script src="https://cdn.datatables.net/fixedcolumns/3.3.0/js/dataTables.fixedColumns.min.js" type="text/javascript" charset="utf8"></script>-->


        <!--Load local css and js-->
        <script src="{{ url_for('static', filename='js/script.js') }}" type="text/javascript"></script>
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    {% endblock %}
</head>

<body>
    {% block header %}
        <section class="header">
            <div class="header_container">
                <a class="menu" href="/">Home</a>
                <a class="menu" href="/terminal">Terminal</a>
                <a class="menu" href="/results">Results</a>
            </div>
        </section>
    {% endblock %}

    {% block content %}{% endblock %}

</body>
</html>