<!DOCTYPE html>
<html lang="ru">

<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>Flash decision – {% block title %}{% endblock %}</title>
        <!-- Load remote css and js -->
        <!-- General -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <!-- Forms -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://raw.githubusercontent.com/Eonasdan/bootstrap-datetimepicker/master/build/css/bootstrap-datetimepicker.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
        <!-- Load local css and js -->
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
        <script src="{{ url_for('static', filename='js/datetimepicker.js') }}" type="text/javascript"></script>
        <!-- Custom scripts for current page -->
        {% block scripts %}{% endblock %}
    {% endblock %}
</head>

<body>

    {% block header %}
        <section class="header">
            <div class="header_container_left">
                <a class="menu" href="{{ url_for('web_index_get') }}">Home</a>
                <a class="menu" href="{{ url_for('web_terminal_get') }}">Terminal</a>
                <a class="menu" href="{{ url_for('web_results_get') }}">Results</a>
            </div>
            <div class="header_container_right">
                {% if current_user.is_authenticated %}
                <a class="menu" href="{{ url_for('logout') }}">{{ current_user.user_name }}, logout</a>
                {% endif %}
            </div>
        </section>
    {% endblock %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <section class="alerts">
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        </section>
        {% endif %}
    {% endwith %}



    {% block content %}{% endblock %}

</body>
</html>