{% extends "layout.html" %}

<!--Head-->

{% block title %}Terminal{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

<!--Body-->

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}
<section class="content_terminal">

    <div id="layout_title">
        <h1 class="text_default title">Terminal</h1>
    </div>

    <div id="layout_separator_01">
        <div class="separator"></div>
    </div>

    <div id="layout_subtitle">
        <p class="text_default subtitle">Current ticker: {{ session_params['case_ticker'].values[0] | safe }}</p>
    </div>

    <div id="layout_separator_02">
        <div class="separator"></div>
    </div>

    <div class="chart" id="chart">
        <script>
            var graphs = {{plot | safe}};
            var data = [graphs[0].data[0]];
            var layout = {
                        title: {visible: false},
                        dragmode: 'zoom',
                        showlegend: false,
                        height: 350,
                        margin: {
                            r: 10,
                            t: 25,
                            b: 40,
                            l: 60
                        },
                        xaxis: {
                            autorange: true,
                            rangeslider: {visible: false},
                            title: 'Date',
                            showticklabels: false
                          }
                        };
            Plotly.plot('chart', data, layout);
        </script>
    </div>

    <div>
        <div class="layout_forms_right_input" id="layout_button_start">
            <div class="btn-group" role="group">
                <form action="{{ url_for('web_terminal_post') }}" method="POST">
                    <input type="hidden" name="session_id" value="{{ session_params['session_id'].values[0] }}">
                    <input type="hidden" name="ticker" value="{{ session_params['case_ticker'].values[0] }}">
                    <input type="hidden" name="fixing_bar" value="{{ session_params['case_fixing_bar'].values[0] }}">
                    <input type="hidden" name="total_iterations" value="{{ session_params['case_iterations'].values[0] }}">
                    <input type="hidden" name="datetime" value="{{ session_params['case_datetime'].values[0] }}">
                    <input type="hidden" name="iteration" value="{{ iteration }}">
                    <button type="submit" class="btn btn-default" name="form_button" value="buy">Buy</button>
                    <button type="submit" class="btn btn-default" name="form_button" value="sell">Sell</button>
                    <button type="submit" class="btn btn-default" name="form_button" value="skip">Skip</button>
                </form>
            </div>
        </div>
    </div>

</section>
{% endblock %}